In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df1 = pd.read_csv("airbnb_listing_train.csv")
df1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,11602914,Luxury home 100m2+garden in center!,3123809,Marjolein,NaN,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,15-02-2020,0.27,1,0,220
1,13289321,East is where your home is!,10259430,Ana,NaN,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,19-06-2019,0.29,1,0,110
2,40779315,Amsterdam Central - LUXURY house in BUSY STREET,224969266,Mark,NaN,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,16-03-2020,1.65,1,7,100
3,7820311,great appartment down town,693472,Ayden,NaN,Westerpark,52.37792,4.87300,Entire home/apt,3,42,17-02-2020,0.72,1,0,130
4,27346603,Private room with canal view in peaceful area,41888346,Alissa,NaN,Westerpark,52.38051,4.87493,Private room,2,89,26-02-2020,4.02,1,24,90

In [11]:
df1.isna().sum()

id                                    0
name                                 22
host_id                               0
host_name                             8
neighbourhood_group               12901
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
last_review                        1596
reviews_per_month                  1596
calculated_host_listings_count        0
availability_365                      0
price                                 0
dtype: int64

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   name                            12879 non-null  object
 2   host_id                         12901 non-null  int64
 3   host_name                       12893 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   12901 non-null  object
 6   latitude                        12901 non-null  float64
 7   longitude                       12901 non-null  float64
 8   room_type                       12901 non-null  object
 9   minimum_nights                  12901 non-null  int64
 10  number_of_reviews               12901 non-null  int64
 11  last_review                     11305 non-null  object
 12  reviews_per_month               11305 non-null  float64
 13  calculated_host_listings_count  12901 non-null  int64
 14  availability_365                12901 non-null  int64
 15  price                           12901 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 1.6+ MB

In [13]:
df1.drop("neighbourhood_group",axis = 1,inplace=True)
#removing the neighbourhood_group column

In [14]:
df1.drop(["host_name","name"],axis=1,inplace = True)
#removing the name and host_name column as we already have their id column

In [15]:
#checking the unique_values
df1["id"].nunique()

12901

In [16]:
df1["host_id"].value_counts().head(20)

1464510      49
251542517    27
7594884      23
65859990     23
2856748      21
14874061     19
138369331    14
44168250     13
241644101    12
203731852    11
13405827     11
300888539    11
276248209    11
113977564    11
178187873    11
67005410     10
325213924    10
5833627       9
245267147     9
10076897      9
Name: host_id, dtype: int64

In [17]:
print(df1["room_type"].nunique())
print()
print(df1["room_type"].value_counts())

4

Entire home/apt    10064
Private room        2622
Hotel room           174
Shared room           41
Name: room_type, dtype: int64

In [18]:
#droping the last_review ,reviews_per_month
df1.drop(['last_review','reviews_per_month'],axis = 1,inplace = True)

In [19]:
df1.head()

,id,host_id,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,price
0,11602914,3123809,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,1,0,220
1,13289321,10259430,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,1,0,110
2,40779315,224969266,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,1,7,100
3,7820311,693472,Westerpark,52.37792,4.87300,Entire home/apt,3,42,1,0,130
4,27346603,41888346,Westerpark,52.38051,4.87493,Private room,2,89,1,24,90

In [20]:
df = df1.copy()

In [21]:
df.head()

,id,host_id,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,price
0,11602914,3123809,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,1,0,220
1,13289321,10259430,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,1,0,110
2,40779315,224969266,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,1,7,100
3,7820311,693472,Westerpark,52.37792,4.87300,Entire home/apt,3,42,1,0,130
4,27346603,41888346,Westerpark,52.38051,4.87493,Private room,2,89,1,24,90

In [22]:
print(df1["neighbourhood"].nunique())
print()
print(df1["neighbourhood"].value_counts())

22

De Baarsjes - Oud-West                    2209
De Pijp - Rivierenbuurt                   1600
Centrum-West                              1429
Centrum-Oost                              1097
Westerpark                                 958
Zuid                                       924
Oud-Oost                                   831
Bos en Lommer                              730
Oostelijk Havengebied - Indische Buurt     644
Watergraafsmeer                            381
Oud-Noord                                  376
IJburg - Zeeburgereiland                   321
Slotervaart                                269
Noord-West                                 257
Noord-Oost                                 171
Buitenveldert - Zuidas                     155
Geuzenveld - Slotermeer                    144
De Aker - Nieuw Sloten                      88
Osdorp                                      83
Gaasperdam - Driemond                       80
Bijlmer-Centrum                             78
Bijlmer-Oost                                76
Name: neighbourhood, dtype: int64

In [23]:
#converting the values in the neighbourhood col to categorical values
df["neighbourhood"] = df["neighbourhood"].astype("category").cat.codes

In [24]:
df.head()

,id,host_id,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,price
0,11602914,3123809,8,52.35368,4.90177,Entire home/apt,3,13,1,0,220
1,13289321,10259430,17,52.35728,4.92052,Entire home/apt,4,14,1,0,110
2,40779315,224969266,5,52.37582,4.89850,Entire home/apt,2,9,1,7,100
3,7820311,693472,20,52.37792,4.87300,Entire home/apt,3,42,1,0,130
4,27346603,41888346,20,52.38051,4.87493,Private room,2,89,1,24,90

In [25]:
#creaitng dummy columns for room_type
df = pd.get_dummies(df, columns = ["room_type"])

In [26]:
df.head()

,id,host_id,neighbourhood,latitude,longitude,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,price,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,11602914,3123809,8,52.35368,4.90177,3,13,1,0,220,1,0,0,0
1,13289321,10259430,17,52.35728,4.92052,4,14,1,0,110,1,0,0,0
2,40779315,224969266,5,52.37582,4.89850,2,9,1,7,100,1,0,0,0
3,7820311,693472,20,52.37792,4.87300,3,42,1,0,130,1,0,0,0
4,27346603,41888346,20,52.38051,4.87493,2,89,1,24,90,0,0,1,0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   host_id                         12901 non-null  int64
 2   neighbourhood                   12901 non-null  int8
 3   latitude                        12901 non-null  float64
 4   longitude                       12901 non-null  float64
 5   minimum_nights                  12901 non-null  int64
 6   number_of_reviews               12901 non-null  int64
 7   calculated_host_listings_count  12901 non-null  int64
 8   availability_365                12901 non-null  int64
 9   price                           12901 non-null  int64
 10  room_type_Entire home/apt       12901 non-null  uint8
 11  room_type_Hotel room            12901 non-null  uint8
 12  room_type_Private room          12901 non-null  uint8
 13  room_type_Shared room           12901 non-null  uint8
dtypes: float64(2), int64(7), int8(1), uint8(4)
memory usage: 970.2 KB

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
scaler = StandardScaler()

In [30]:
df[['minimum_nights', 'number_of_reviews', 'calculated_host_listings_count','availability_365']] = scaler.fit_transform(df[['minimum_nights', 'number_of_reviews', 'calculated_host_listings_count','availability_365']])

In [31]:
df.head()

,id,host_id,neighbourhood,latitude,longitude,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,price,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,11602914,3123809,8,52.35368,4.90177,-0.035801,-0.221017,-0.189366,-0.568531,220,1,0,0,0
1,13289321,10259430,17,52.35728,4.92052,0.030190,-0.202292,-0.189366,-0.568531,110,1,0,0,0
2,40779315,224969266,5,52.37582,4.89850,-0.101793,-0.295917,-0.189366,-0.503706,100,1,0,0,0
3,7820311,693472,20,52.37792,4.87300,-0.035801,0.322013,-0.189366,-0.568531,130,1,0,0,0
4,27346603,41888346,20,52.38051,4.87493,-0.101793,1.202096,-0.189366,-0.346276,90,0,0,1,0

In [32]:
df.columns

Index(['id', 'host_id', 'neighbourhood', 'latitude', 'longitude',
       'minimum_nights', 'number_of_reviews', 'calculated_host_listings_count',
       'availability_365', 'price', 'room_type_Entire home/apt',
       'room_type_Hotel room', 'room_type_Private room',
       'room_type_Shared room'],
      dtype='object')

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x = df[['neighbourhood','minimum_nights', 'number_of_reviews', 'calculated_host_listings_count','availability_365',
        'room_type_Entire home/apt','room_type_Hotel room', 'room_type_Private room',
       'room_type_Shared room']]
y = df["price"]

In [35]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=5)

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
lm = LinearRegression()

In [38]:
lm.fit(xtrain,ytrain)

LinearRegression()

In [39]:
train_predict = lm.predict(xtrain)
test_predict = lm.predict(xtest)

In [40]:
from sklearn.metrics import r2_score, mean_squared_error

In [41]:
print("RMSE: ",np.sqrt(mean_squared_error(ytrain,train_predict)))
print("R2: ",r2_score(ytrain,train_predict))

RMSE:  258.4188297324357
R2:  0.035241178013380114

In [42]:
print("RMSE: ",np.sqrt(mean_squared_error(ytest,test_predict)))
print("R2: ",r2_score(ytest,test_predict))

RMSE:  144.81215875385152
R2:  0.056271156129552025